/* Global Varibales */

:root {
  /* Colors */

  /* Primary */
  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);

  /* Neutral */
  --verypaleblue: hsl(245, 75%, 52%);
  --desaturatedblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);

  /* Grey */
  --grey-50: hsl(210, 40%, 98%);
  --grey-100: hsl(210, 40%, 96%);
  --grey-200: hsl(214, 32%, 91%);
  --grey-300: hsl(213, 27%, 84%);
  --grey-400: hsl(215, 20%, 65%);
  --grey-500: hsl(215, 16%, 47%);
  --grey-600: hsl(215, 19%, 35%);
  --grey-700: hsl(215, 25%, 27%);
  --grey-800: hsl(217, 33%, 17%);
  --grey-900: hsl(222, 47%, 11%);

  /* Black / White */
  --black: hsl(0, 0%, 13%);
  --white: hsl(0, 0%, 100%);

  /* Font Family */
  --font: "Red Hat Display", sans-serif;
  --fs-900: 1.75rem;
  --fs-700: 1rem;
  --fs-500: 0.875rem;

  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  /* Box-Shadow */
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  --borderRadius: 0.5rem;
}

/* End of Global Varibales */

/* Remove Default Margin / Padding */
* {
  margin: 0;
  padding: 0;
}

/* Box Sizing Rules */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Core Body Defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove default underline */
a {
  text-decoration: none;
}

/* Remove List Styles */
ul {
  list-style: none;
  padding: 0;
}

body {
  background: var(--paleblue) url(./pattern-background-desktop.svg) no-repeat;
  font-family: var(--font);
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
  color: var(--desaturatedblue);
  max-width: 1440px;
  line-height: 1.5;

  /* center */

  display: grid;
  min-height: 100vh;
  place-items: center;
}

.card-title {
  padding: 1.5rem;
  text-align: center;
  font-size: var(--fs-900);
  font-weight: var(--fw-900);
  color: var(--black);
}

.card-text {
  text-align: center;
  padding: 1rem;
}

h3 {
  font-weight: var(--fs-700);
  font-weight: var(--fw-700);
  color: var(--black);
}

.card {
  background-color: var(--white);
  max-width: 450px;
  max-height: 697px;
  border-radius: var(--borderRadius);
}

.hero {
}

.plan-box {
  background-color: var(--grey-100);
  max-width: ;
  padding: 1rem 1.5rem;
  display: flex;
}

.plan {
  padding: 0 2rem;
}

.push {
  margin-left: auto;
}
